{% extends "base.html.twig" %}
{% block title %}Campit Register{% endblock %}
{% block body %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="col-xs-4"></div>
<div class="col-xs-4">
<h1>Registration</h1>
<br>
{{ form_start(form) }}
    {{ form_row(form.username, { 'label': 'Nom d\'utilisateur' }) }}
    {{ form_row(form.email, { 'label': 'Email' }) }}
    {{ form_row(form.nom, { 'label': 'Nom' }) }}
    {{ form_row(form.prenom, { 'label': 'Prénom' }) }}
    {{ form_row(form.plainPassword.first, { 'label': 'Mot de passe' }) }}
    {{ form_row(form.plainPassword.second, { 'label': 'Vérification mot de passe' }) }}
    {{ form_widget(form.save, { 'label': 'Valider' }) }}
</div>
{{ form_end(form) }}
{% endblock %}